@media screen and (min-device-width: 768px) and (max-device-width: 1023px){

.menu-pc-tablet { display: none; }
.footer-pc { display: none; }
.footer-celular-h4 { display: none; }

/*-----------MENU---------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient (#f3f9f4, #eef6ef);
}

nav li:first-child {
    margin-right: 0;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color:  #8c00ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

nav li img {
    height: 2.3em;
}


.nav-logo {
    float: right;
    margin: 3px 3% 0;
    padding: 0;
}

.nav-logo a{
    padding: 0;
}

.dropdown {
    font-family: tt0142m;
    float: left;
    margin-right: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #0099ff;
    background-color: #F1F8F2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.show {display:block;}

/* Article */
.article-left {
    width: 42.5%;
    padding-left: 5%;
    padding-right: 2.5%;
}

.article-right {
    width: 42.5%;
    padding-left: 2.5%;
    padding-right: 5%;
}

.article-margin {
    margin-bottom: 7em;
}

/* Video */
.video iframe {
    width: 640px;
    height: 360px;
}

/* Equipe */
.article-equipe {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 6em;
}

.article-equipe-celular img {
    height: 5em;
}

/* Fales Conosco */
footer {
    background-image: linear-gradient(to bottom right, #8c00ff, #8c00ff);
}

.footer-right {
    position: static;
    float: none;
    width: 80%;
    margin: 0 auto;
}
#contact {
    padding: 0;
}
#contact h3 { 
    margin-top: 1em;
}

.footer-left {
    position: static;
    float: none;
    width: 80%;
    margin: 0 auto;
}

.footer-left h1 {
    margin: 1em 0;
}
.footer-left-1 {
    width: 50%;
    margin-left: 0;
}
.footer-left-2-logo {
    position: relative;
    margin-top: 0;
    bottom: 0;
}

.endereco {
    margin-top: 15px;
    margin-bottom: 35px; 
}

.logos {
    margin-top: 15px;
}

}
 /* FIM @media screen */
